[submodule "external/intervaltree"]
	path = external/intervaltree
	url = https://github.com/ekg/intervaltree.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
